.head {
    color: aqua;
    margin: auto;
    text-align: center;
    padding: 40px ;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.form {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
body {
   background-image: url(./_27_black-technical-wallpaper_558014949.jpg);
   background-position: center;
   text-align: center;
}
.use8 {
    color: yellow;
    text-align: center;
    font-size: 12px;
}
.text {
    color: aqua ;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
.button {
    text-align: center;
    color: aqua;
    background-color: rgb(29, 29, 29);
    border-color: aqua;
    padding: 10px 30px;
    font-family:  monospace;
}
.button:hover {
    background-color: aqua;
    color: black;
}
.a {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}
a:hover {
    color: yellow;
}
.border {
    border: 3px solid aqua ;
    border-radius: 130px;
    border-style:dotted;
    border-right: 20px;
    border-left: 20px;
}